$white: #ffffff;
$bg-gray: #efefef; //background for sights section and our team block
$filter-text: #b1b1b1; //text color for tour filter component
$active-text: #2e325a; //active color for tour filter component
$divider-title: #c3c3c3; // light color for divider's title
$active-title: #474747; //dark color for divider's title & feedback section title
$subtitle-divider: #b1b1b1; // color for divivder's subtitle
$feedback-1: #767676; // for feedback's main text
$feedback-2: #707070; // for feedback's subtitle (country)
$divider-line: #c3c3c3; // color for divider's line
$team-title: #333333; //for team block's title & footer's subtitle
$team-subtitle: #6f6f6f; // for team block's subtitle
$footer-text: #6f6f6f; // color for footer's main text
