.wrapper {
  display: grid;
  width: 100%;

  .number_index_left_content {
    display: flex;
    align-items: end;

    .date_container {
      background-color: #51568f;
      width: 40%;
      height: 73%;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      p {
        color: white;
      }

      .checkbox_container {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 15%;
        height: 100%;
      }

      /* Стилизация скрытого чекбокса */
      .checkbox_container input[type="checkbox"] {
        position: absolute;
        opacity: 0;
      }

      /* Стилизация фонового круга */
      .checkbox_container .checkmark {
        position: absolute;
        top: 20%;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: #fff;
        border: 2px solid #2e325a;
        border-radius: 50%;
      }

      /* Стилизация отмеченного чекбокса */
      .checkbox_container input[type="checkbox"]:checked + .checkmark::after {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background-color: #2e325a;
        /* Цвет "галочки" */
        border-radius: 50%;
      }
    }
  }

  .number_index_bottom_left_content,
  .number_index_bottom_right_content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0.4fr 3fr 0.4fr;
    grid-gap: 11px;

    button {
      background: #8389c9;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      height: 47px;
      width: 47px;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > div {
      background: #ffffff;
      border: 1px solid #c3c3c3;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      height: 47px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.header {
  margin: 40px 0px;
  width: 100%;
  height: 37px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #474747;

  .title {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 5px;
  }
}

.text_container {
  width: 90%;
  margin-left: 1.2%;
}

.description {
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
  }

  .paragraph {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #757575;
    width: 100%;
  }
}

.form {
  width: 100%;

  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  margin: 1% 0px;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  @media (max-width: 1024px) {
    padding: 30px 100px;
  }

  @media (max-width: 768px) {
    padding: 30px 60px;
  }

  @media (max-width: 600px) {
    padding: 30px 60px;
    margin: 20px 0;
  }

  @media (max-width: 445px) {
    width: 100%;
    padding: 40px 20px;
    margin: 20px 0;
  }

  .inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px 50px;

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 445px) {
      grid-gap: 22px 10px;
    }
  }

  .button {
    display: flex;
    width: 30%;
    padding: 20px;
    background: #2e325a;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (max-width: 600px) {
      width: 100%;
      margin-left: 0;
    }

    @media (max-width: 450px) {
      width: 100%;
      margin-left: 0;
    }

    .text {
      width: fit-content;
      height: 20px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
    }
  }
}

.input {
  padding: 0 25px;
  outline: none;
  border: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  background: #efefef;
  border: 1px solid #9c9c9c;
}

.fullInput {
  margin-top: 25px;
  padding: 0 25px;
  outline: none;
  border: none;
  width: 100%;
  height: 50px !important;
  cursor: pointer;
  background: #efefef;
  border: 1px solid #9c9c9c;
}

.fullInput::placeholder {
  line-height: 50px;
  font-size: inherit;
  font-family: inherit;
}
